# EditorConfig for C# / Avalonia 11+ Development

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,csx}]
# Namespaces: prefer file-scoped namespaces
csharp_style_namespace_declarations = file_scoped:warning

# Usings: sort System directives first, place outside namespace
dotnet_sort_system_directives_first = true:suggestion
csharp_using_directive_placement = outside_namespace:suggestion

# Code style: avoid 'this.' prefix unless necessary
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

# Language rules
csharp_prefer_simple_using_statement = true:suggestion
csharp_style_prefer_readonly_struct = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:suggestion

[*.{axaml,xaml,xml}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
